#page-wrap {
     background: url("../../static/back.jpg") no-repeat center center fixed;
     -moz-background-size: cover; /* Firefox 3.6+ */
     -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
     -o-background-size: cover; /* Opera 9.6+ */
     background-size: cover; /* Современные браузеры */
 }
@media (max-width: 768px) {
    #page-wrap {
        background: url("../../static/back-mid.jpg") no-repeat center center fixed;
        -moz-background-size: cover; /* Firefox 3.6+ */
        -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: cover; /* Opera 9.6+ */
        background-size: cover; /* Современные браузеры */
    }
}
.empty {
    height: 1000px;
    background-color: white;
}
.hei {
    height: 100vh;
}
a,button:focus {
    outline: none !important;
}

/* xs (<=543px) */
@media (max-width: 575px) {

}

/* sm (>=576 и <=767) */
@media (min-width: 576px) and (max-width: 767px) {

}

/* md (>=768 и <=991) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* xl (>=1200) */
@media (min-width: 1200px) {

}

/*For menu*/
html,
body {
    margin: 0;
}

#App {
    font-family: sans-serif;
    /* Give app full page to work with */
    height: 100vh;
}

#page-wrap {
    text-align: center;

    /* Prevent sidebar from showing a scrollbar on page */
    overflow: auto;
}

/* Individual item */
.bm-item {
    display: inline-block;

    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
    color: white;
    text-decoration: none;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #d1d1d1;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}