@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Forum');
@font-face {
    font-family: "Cartoon";
    src: url("../../static/Carton-Slab.otf");
}
@font-face {
    font-family: "Farray";
    src: url("../../static/FARRAY.otf");
}
body {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: lighter !important;

}
.farray {
    font-family: "Farray", sans-serif;
    font-size: 35px;
}

.cartoon {
    font-family: "Cartoon", sans-serif;
    font-size: 35px;
}
.forum {
    font-family: 'Forum', cursive;
    font-size: 55px;
}
#outer-container {
    background-image: url("../../static/back.png");
    /*background-attachment: fixed;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-background-size: cover; /* Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
}

body p {
    margin-top: 1rem;
}

.empty {
    height: 100vh;
}

.title {
    font-size: 35px;
}

.block_white {
    background-color: white;
}

.main__block {
    height: 100vh;
}

.main-form {
    background: rgba(0, 0, 0, 0.05);
    padding: 25px;
    text-align: left;
}

a, button:focus {
    outline: none !important;
}

.social_network a i {
    color: #222 !important;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .title {
        font-size: 15px;
    }

    .dropdown__language {
        font-size: 10px !important;
    }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .title {
        font-size: 25px;
    }

    .dropdown__language {
        font-size: 15px !important;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*For menu*/
html,
body {
    margin: 0;
}

#App {
    font-family: sans-serif;
    /* Give app full page to work with */
    height: 100vh;
}

#page-wrap {
    text-align: center;

    /* Prevent sidebar from showing a scrollbar on page */
    overflow: auto;
}

/* Individual item */
.bm-item {
    display: inline-block;

    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
    font-size: 20px;
}

/* Change color on hover */
.bm-item:hover {
    color: white;
    text-decoration: none;
}

.bm-item:focus {
    outline: none;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 15px;
    top: 15px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}